################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestAPI/obj/Debug/TestAPI.csprojAssemblyReference.cache
